* { margin:0; padding:0; box-sizing:border-box; }
body {
	background:url("k.jpg") no-repeat;
	background-size: cover;
	color: #FFFFFF;
	font-size: 30px;
	font-family: helvetica, sans-serif;
	font-weight: normal;
 }
header {
	margin:20px;
}
section {
}

h1{
	color: #FFFFFF;
	font-size: 50px;
	font-family: helvetica, sans-serif;
	font-weight: bold;
}

h2 {
	color: #FFFFFF;
	font-size: 120px;
	font-family: 'Courgette', cursive;
	font-weight: normal;
}

