* { margin:0; padding:0; box-sizing:border-box; }
body {
	background:url("k.jpg") no-repeat;
	background-size: cover;
	color: #FFFFFF;
	font-size: 30px;
	font-family: helvetica, sans-serif;
	font-weight: normal;
 }
header {
	margin:0px;

}
section {
	margin-top: 50px;
	text-align: center;
	line-height: 60px;
}

h1{
	background-color: gray;
	color: #FFFFFF;
	font-size: 40px;
	font-family: Open Sans, sans-serif;
	font-weight: bold;
}

h2 {
	color: #FFFFFF;
	font-size: 60px;
	font-family: 'Courgette', cursive;
	font-weight: normal;
}

p {
	color:;
	font-size: 20px;
}