* { margin:0; padding:0; box-sizing:border box; }

body {
	background-color: #FFFFFF;
	font-size: 16px;
	font-family: Cabin, sans-serif;
}

h2 {
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1.25em;
	margin:0 0 20px 0;
}

nav {
	font-size:1em;
	text-align: center;
}

nav a{
	text-decoration: none;
	color:black;
	font-weight: bold;
	margin: 17px;
	display: inline-block;
}
nav a:hover {
	text-decoration:underline;
}

section{
text-align: center;
}


footer p {
	text-align: center;
	border-top: 1px solid black;
	padding:10px 0;
	margin-top: 80px;

}

#logo {
	display: block;
	margin: 10px 0 0 40px;
}
#logo img {
	width:140px;
}

#about {
	font-size: 28px;
	width: 50%;
	display: inline-block;
}

#hero {
	display: block;
	margin: 40px 0 40px 0;
	clear: both;
	text-align:center;
}
#hero img {
	width:550px;
}
