body {

	text-align: left;
	background-image: url("background.jpg");
	background-color: gray;
	color: white;
	font-family: helvetica;
	position: fixed;
	top: 30px;
	left: 15px;
}

h1
{
	font-size: 70px;
}

hr
{
	text-align: left;
	width: 40px;

}
p {font-size: 18px}